html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  line-height: 1.4;
}

body {
  margin: auto;
  text-align: center;
  max-width: $page-width;
}

h1 {
  margin: 2em 0 2rem;
}

.image {
  display: inline-block;
  height: 100px;
  width: 100px; 
  background-size: cover;
}


.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 200px;
  border: 1px solid gold;
  background: cadetblue;
  margin: 1em auto;
  border-radius: 0.3em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px;
  margin: 0.4em;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}