html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  line-height: 1.4;
}

body {
  margin: auto;
  text-align: center;
  max-width: $page-width;
}

.image {
  display: inline-block;
  height: 100px;
  width: 100px; 
  background-size: cover;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 1em;
}
 

button {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px;
  margin: 0.4em;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}